/*
!.aliases/
!.aliasrc
!.bash_aliases
!.bash_profile
!.bashrc
!.condarc
!.gitignore
!.profile
!setup.bash
!.vimrc
!.zshrc

# Only get Karabiner config
!.config/
.config/*
!.config/karabiner
.config/karabiner/*
!.config/karabiner/karabiner.json

# Only get VS Code settings
!.vscode/
.vscode/*
!.vscode/settings.json
